.container {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border: 3px solid grey;
    padding: 10px;
}

.headerlink {
    display: inline-block;
    margin: 0 8px;
}

#authlink {
    text-align: right;
    margin-left: 500px;
    
}

.btn-danger {
    color: red;
}