{% extends 'base.html' %}
{% block content %}
<div style="text-align: center">
    <h3>Hospital Information</h3>
    <p>
        SELAMAT DATANG DI ONLINE HOSPITAL INFORMATION
    </p>
    <P>
        Aplikasi ini sengaja dirancang untuk memudahkan urusan antrian <br>
        pasien yang ingin membuat perjanjian bersama dokter kami. <br>
        Dengan menggunakan layanan aplikasi ini, pasien yang ingin melakukan konsultasi <br>
        tidak perlu datang ke Rumah Sakit hanya untuk membuat perjanjian <br>
        Cukup Lakukan disini dan dapatkan jadwal janji anda! 
    </P>
    <p>Silahkan login untuk masuk ke akun anda<a href=""> Login</a> <br>
    Atau klik disini untuk mulai bergabung <a href=""> Register</a></p>
</div>
    
{% endblock %}