{% extends 'base.html' %}
{% block content %}
    <div style="text-align: left;">
        <p>
            <strong>Appointment title</strong> <br>
            {{ appointment }}
        </p>
        <p class="appointment-detail">
            <strong style="margin-bottom: 5px;">Description</strong> <br>
            {{appointment.appointment_desc}}
        </p>
        <p>
            <strong>Pasien Maksimal</strong> <br>
            {{appointment.max_patient}}
        </p>
        {% if not session['user_admin'] %}
            <p>
            {% if current_user in appointment.patients %}
                <b>Nomor antrian anda</b> <br> 
                {{ appointment.patients|length }}
            {% else %}
                <small style="color: blue;"><p>Anda tidak terdaftar</p></small>
            {% endif %}
            </p>
        {% else %}
            <p>
                <b>Patient yang mendaftar</b> <br> 
                {% if appointment.users|length > 0 %}
                {% else %}
                    <small>Anda tidak terdaftar</small>
                {% endif %}
            </p>
        {% endif %}
        <p>Kembali ke daftar <a href="/docters/{{docter.docter_id}}">Docter Appointment</a></p>
    </div>
    <div>
        <p>
        {% if session['user_admin'] %}
           <a href="/docters/{{docter.docter_id}}/{{appointment.appointment_title}}/update_detail">Update</a>
           <a class="btn-danger" href="/docters/{{docter.docter_id}}/{{appointment.appointment_id}}/confirmation">Delete</a>
        {% elif not session['user_admin'] %}
            <form action="{{ url_for('patient.appointment_registration', docter_id=docter.docter_id, appointment_title=appointment.appointment_title) }}" method="POST">
                {% if current_user is not in appointment.patients and appointment.max_patient != appointment.patients|length %}
                    <input type="submit" class="btn-info" value="Daftar">
                {% elif current_user in appointment.patients %}
                    {% if appointment.max_patient == appointment.patients|length %}
                        <small><p>Sudah penuh</p></small>
                    {% endif %}
                    <input type="submit" class="btn-info" value="Cancel">
                {% elif current_user not in appointment.patients and appointment.max_patient == appointment.patients|length %}
                    <small><p>Sedang Penuh </p></small>
                {% endif %}
            </form>
        {% endif %}
        </p>
    </div>
{% endblock %}