{% extends 'base.html' %}
{% block content %}
    <div style="text-align: left;">
        <p>
            <strong>Appointment title</strong> <br>
            {{ appointment }}
        </p>
        <p class="appointment-detail">
            <strong style="margin-bottom: 5px;">Description</strong> <br>
            {{appointment.appointment_desc}}
        </p>
        <p>
            <strong>Pasien Maksimal</strong> <br>
            {{appointment.max_patient}}
        </p>
        {% if not session['user_admin'] %}
            <p>
            <b>Nomor antrian anda</b> <br> 
            {{appointment.user_id}}
            </p>
        {% else %}
            <p>
                <b>Patient yang mendaftar</b> <br> 
                {% if appointment.users|length > 0 %}
                {% else %}
                    Tidak ada pasien mendaftar
                {% endif %}
            </p>
        {% endif %}
        <p>Kembali ke daftar <a href="/docters/{{docter.docter_id}}">Docter Appointment</a></p>
    </div>
    <div>
        <p>
        {% if session['user_admin'] %}
           <a href="/docters/{{docter.docter_id}}/{{appointment.appointment_title}}/update_detail">Update</a>
           <a class="btn-danger" href="/docters/{{docter.docter_id}}/{{appointment.appointment_id}}/confirmation">Delete</a>
        {% elif not session['user_admin'] %}
            <form action="">
                <input type="button" class="btn-info" href="/docters/{{docter.docter_id}}/{{appointment.appointment_id}}/confirmation" value="Daftar">
            </form>
        {% endif %}
        </p>
    </div>
{% endblock %}