{% extends 'base.html' %}
{% block content %}
    <div style="text-align: left;">
        {% if session['user_admin'] %}
            <p>Buat Appointment baru</p>
            <form action="{{ url_for('admin.appointments', docter_id=docter.docter_id) }}" method="POST">
                <input type="text" name="appointment_title" placeholder="Judul Appointment"> <br>
                <textarea style="margin-top: 5px;" name="appointment_desc" cols="30" rows="5" placeholder="Deskripsi Appointment"></textarea><br>
                <input type="text" name="max_patient" placeholder="Pasien maksimal">
                <input style="margin-top: 5px;" type="submit" value="Buat">
            </form>
        {% endif %}
        <h3><u>{{docter.name.upper()}}</u></h3>
        <div>
            {% if all_appointments|length > 0 %}
            <ol>
                {% for appointment in all_appointments %}
                    <li>{{ appointment }} <br>
                        Deskripsi: {{ appointment.appointment_desc }}
                        <small>
                            <a href="/docters/{{docter.docter_id}}/{{appointment.appointment_title}}">Detail</a>
                        </small>
                    </li>
                {% endfor %}
            </ol>
            {% else %}
                <p>Tidak ada appointment yang tersedia</p>
            {% endif %}
        </div>
        <p>Kembali ke halaman docter <a href="/docters">Back</a></p>
    </div>
{% endblock %}