<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {% block title %}
            {% if title %}
                Hospital | {{title}}
            {% else %}
                Hospital Information
            {% endif %}            
        {% endblock %}
    </title>
</head>
<body class="container">
    <ul>
        <li class="headerlink"><a style="color: black;" href="/">RS. Umum</a></li>
        <li class="headerlink"><a href="/docters">Semua Docter</a></li>
        <li class="headerlink"><a href="/contact-us">Contact us</a></li>
        <li class="headerlink"><a href="/about-us">About us</a></li>
        {% if session['logged_in'] == none %}
            <li class="headerlink" style="margin-left: 350px;"><a href="/login">Login</a></li>
            <li class="headerlink"><a href="/patient/register">Patient Register</a></li>
            <li class="headerlink"><a href="/admin/register"> Admin Register</a></li>
        {% else %}
            <li class="headerlink" style="margin-left: 650px;"><a href="/logout">Logout</a></li>
        {% endif %}
        <hr style="margin-right: 40px;">
    <ul>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-unstyled">
        <li style="text-align: center;" >{{messages}}</li>
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>